:root {
  --font-size: 2rem;
  --font-size-display: 1.5rem;
  --keys-bg: #23242c;
  --display-bg: #2b2c36;
  --operator-bg: #ad7376;
  --delete-bg: #5f2584;
  --equal-bg: #759e85;
  --numbers-bg: #eeeeee;
  --old-result: #a7a7a7;
  --border-radius: 5px;
}

button {
  font-size: var(--font-size);
}

.input,
.result{
  font-size: var(--font-size-display);
}

.operator {
  color: var(--operator-bg);
}

.equal {
  color: var(--equal-bg);
}

.number,
.clear,
.del,
.result {
  color: var(--numbers-bg);
}

.clear {
  background-color: var(--operator-bg);
}
.input {
  color: var(--old-result);
}
.del {
  background-color: var(--delete-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  gap: 2rem;
  
}

.footer{
    text-align: center;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px 20px;
  background-color: var(--keys-bg);
  border-radius: 5px;
  border: 2px black solid;
  
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

button {
  padding: 20px 30px;
  background-color: var(--display-bg);
  border-radius: var(--border-radius);
}

.span-2 {
  grid-column: span 2;
}

.display {
  padding: 15px 20px;
  max-height: 300px;
  min-width: 300px;
  background-color: var(--display-bg);
  border-radius: var(--border-radius);
  text-align: right;
}

.input,.result{
  min-height: 20px;
  max-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 300px;

}

.footer{
  text-align: center;
  font-size: 1.5rem;
  font-family:Arial, Helvetica, sans-serif;
}